body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #353433;
    color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 80%;
    max-width: 500px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-title {
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
}

#scrambled-word {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

input[type="text"] {
    font-size: 1.2rem;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 90%;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

#timer {
    font-size: 1.2rem;
    margin-top: 20px;
    text-align: center;
    width: 90%;
    margin-bottom: 20px; /* Add margin at the bottom to separate from the input box */
}

#correct-count {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    width: 90%;
    margin-top: 20px; /* Add margin at the top to separate from the input box */
}